.calc{
  width: 320px;
  margin: 100px auto;
}
#answer{
  background-color: lightgray;
  padding: 10px;
  width: 295px;
  font-size: 35px;
  text-align: right;
  height: 45px;
  border: 3px solid black;
}
.button{
  background: rgb(58, 57, 56);
  width: 80px;
  height: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button1{
  width: 160px;
  height: 70px;
}

